@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');



:root{
    --green:rgb(156, 175, 136);
    --dark-color:rgb(249, 248, 235);
    --black:#444;
    ---light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --outline:#666;

}
*{
    font-family: 'Alegreya',serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.8s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x:hidden ; 
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;

}

html::-webkit-scrollbar-track{

    background: transparent;

}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

.header1 .div1{
    background:#fff ;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header1 .div1 .logo{

    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--green);

}

.header1 .div1 .logo i{
    color: var(--green);
}

.header1 .div1 .search{

    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header1 .div1 .search input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
    border: var(--border);
}


.header1 .div1 .search label{

    font-size: 2.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
    

}

.header1 .div1 .search .label :hover{
    color: var(--green);
}

.header1 .div1 .icons div,
.header1 .div1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header1 .div1 .icons div,
.header1 .div1 .icons a:hover{
    color: var(--green);
}

#search-btn{
    display: none;
}

.bottom-navbar{
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color:#fff;

}

.bottom-navbar a:hover{
    background: var(--dark-color);
}







@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header1 .div1{  
        padding: 2rem;
    }
    section{
        padding:3rem 2rem;
    }
}



@media (max-width:768px){
    html{
        scroll-padding-top:0;
    }
    body{
        padding-bottom: 6rem;
    }
    
    .header1 .div1{ 
        box-shadow:var(--box-shadow);
        position: relative;
    }
    #search-btn{
        display: inline-block;
    }
    .bottom-navbar{
        display: block;
    }
    .header1 .div1 .search{
        position:absolute;
        top:-115%;
        right:2rem;
        width:90%;
        box-shadow: var(--box-shadow);
    }
    .header1 .div1 .search.active{
        top:115%;
    }

}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    
}


.form-container{
    /*backdrop-filter: blur(10px); 
    /*-webkit-backdrop-filter: blur(10px); 
    /*background: rgba(255,255,255,0.6);*/
    display: flex;
    right:-105%;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0;
    z-index: 10000;
    height:100%;
    width:100%;

}

.form-container.active{
    right:0;
}

.one {
    
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.6);
    border:2px solid  rgb(156, 175, 136);
    width: 600px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 20px auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}
.two {
    background: rgba(255,255,255,0.9);
    border:2px solid  rgb(156, 175, 136);
    border-radius: 20px;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 20px auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}
div.two img {
    display: inline-block; 
    max-width: 100%; 
    height: auto; 
}


h1 {
    color: rgb(156, 175, 136);
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 20px; 
    position:relative;
    left:0px;
    
}

label {
    color: rgb(156, 175, 136);
    font-size: 18px;
    margin-bottom: 5px; 
    text-align: left;
    width: 90px;
    display: inline-block;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(156, 175, 136);
    width: 50%;
    margin-bottom: 10px; 
}


button {
    padding: 20px;
    color: rgb(156, 175, 136);
    background-color: rgb(249, 248, 235);
    border: 2px solid rgb(156, 175, 136);
    margin: 20px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
    width: 23%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

span {
    background: rgb(156, 175, 136);
    height: 100%;
    width: 0%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    display:flex;
    align-items: center;
    transition: 0.5s;
}


button:hover span {
    color: rgb(249, 248, 235);
    width: 100%;
}
button:hover {
    border: none;
}

p{
    font-size: medium;
    color: rgb(156, 175, 136);;
}

.form-container #close-btn{
    position:absolute;
    top:1.5rem;
    right:2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
    text-transform: none;
}

.form-container #close-btn2{
    position:absolute;
    top:1.5rem;
    right:2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
    text-transform: none;
}

section{
    padding:5rem 9%;
}

.top{
    background: url(clouds.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

.top .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.top .row .content{
    flex:1 1 42rem;
}


.top .row .slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.top .row .slider a img{
    height:25rem;

}

.top .row .slider a:hover img{
    transform:scale(.9);    
}

.top .row .content h3{
    color: rgb(255, 255, 255);
    font-size:4.5rem  ;
}

.top .row .content p{
    color: rgb(255, 255, 255);
    font-size:1.8rem  ;
    padding: 1rem 0;
}


.top .row .content{
    text-align: center;
}
.top .row .content h3{
    font-size: 3.5rem;
}

.header1 .div2{
    background-color: var(--green);
}

.header1 .div2 .navbar{
    text-align: center;
}

.header1 .div2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header1 .div2 .navbar  a:hover{
    background: var(--black);
}

.header1 .div2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}







.icon-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
}
.icon-container .icons{
    display:flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}
.icon-container .icons i{
    font-size: 3.5rem;
    color:var(--green);
}
.icon-container .icons h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}
.icon-container .icons p{
    font-size: 1.4rem;
    color:var(---light-color);
}



.features .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;

}
.features .box-container .box{
    padding:3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow:var(--box-shadow) ;

}
.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}
.features .box-container .box i{
    font-size: 5.5rem;
    color:var(--green);
}
.features .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}
.features .box-container .box a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    font-size: 1.6rem;
    color: #fff;
    background: var(--green);
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

.features .box-container .box a:hover {
    background: var(--dark-green);
    transform: scale(1.05);
    color:var(--green);
}




.featured {
    text-align: center; 
}

.heading {
   
    display: inline-block; 
    margin-bottom: 2rem;
    position: relative;
}


.heading  {
    font-size: 4rem;
    padding: 0.5rem 1rem;
    color: var(--black);
    background: #fff;
    color: var(--green);  
}

.featured .featured-slider .box{
    width: fit-content;
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider.box:hover{
    border: var(--border-hover);
}

.featured .featured-slider.box .image{
    padding: 1rem;
    background: linear-gradient(15deg,#eee 30%,#fff 30.1%);
    
}

.featured .featured-slider.box .image img{
    height:25rem;
}

.featured .featured-slider .box .content{
    background: #eee;
    padding: 1.5rem;
}   

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color: var(--green) ;
} 

.swiper-button-next,
.swiper-button-prev {
    border: var(--border-hover);
    height: 1.5rem; 
    width: 1.5rem;  
    color: var(--black);
    background: #fff;
    border-radius: 22%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.5rem; 
    color: var(--black); 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--black);
    color: #fff;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
    color: #fff; 
}






.newsletter{
    background: url(subscribe.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;   
}

.newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding:5rem 0;
}

.newsletter form h3{
    font-size:2.2rem;
    color:#fff;
    padding-bottom:.5rem;
    font-weight: normal;
}

.newsletter form .box{
    width:100%;
    margin:.7rem 0;
    padding:1rem 1.2rem;
    font-size:1.6rem;
    color:var(--black);
    border-radius:.5rem;
    text-transform: none;
}

.newsletter form a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    font-size: 1.6rem;
    color: #fff;
    background: var(--green);
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

.newsletter form a:hover {
    background: var(--dark-green);
    transform: scale(1.05);
    color:var(--green);
}




.arrivals {
    text-align: center; 
}
.arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;

}

.arrivals .arrivals-slider .box:hover{
    border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height: 15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.arrivals .arrivals-slider .box .content .price {
    font-size: 2.2rem;
    color:var(--green);
}





.reviews{
    text-align: center;
}

.reviews .reviews-slider .box{
    width: 30rem;
    border:var(--border);
    padding: 2rem;
    text-align: center;
}

.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .box img{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:var(--black);
    font-size:2.2rem;
    padding: 2rem 0;
}

.reviews .reviews-slider .box p{
    color:var(---light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color: var(--green);
}




.footer .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
}

.footer .box-container .box{
    font-size:2.2rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size:1.4rem;
    color:var(---light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width:100%;
    height: 50%;
    padding: 0%;
}

.footer .share{
    padding: 2rem 0;
    text-align: center;
}

.footer .share a{
    height: 4rem;
    width: 4rem;
    line-height: 5rem;
    font-size: 4rem;
    color:#fff;
    background: var(--green);
    margin: 0 .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background: var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(---light-color);
    text-align: center;
}


.loader-container{
    position: fixed;
    top:0;left:0;
    height:100%;
    width:100%;
    z-index:10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height: 45rem;
}


.btn-primary {
    background-color: var(--green);
    border: none;
    color: var(--dark-color);
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    transition: background-color 0.3s;
}